.btn {
    padding: .6rem .9rem;
    text-decoration: none;
    color: $fg-base-200;
    background-color: $bg-base-200;
    border-radius: $rounded;
    text-align: center;
    font-weight: bold;
}

.content {
    background-color: $bg-base-100;
    padding: 1rem;
    border-radius: $rounded;
}

.pages-list {
    list-style: none;
    background-color: $bg-base-100;
    padding: 1rem;
    border-radius: $rounded;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    li {
        padding: 1rem;
        border: solid $bg-base-200 .2rem;
        border-radius: $rounded;
    }
}
