.icon-feather {
    height: 1.5rem;
    width: 1.5rem;
    stroke: $fg-base-100;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.btn {
    display: inline-flex;
    padding: .6rem .9rem;
    text-decoration: none;
    color: $fg-base-200;
    background-color: $bg-base-200;
    border-radius: $rounded;
    text-align: center;
    font-weight: bold;
    transition: 350ms;
    cursor: pointer;
}

.btn:hover {
    background-color: $bg-base-300;
}

.content {
    background-color: $bg-base-100;
    padding: 1rem;
    border-radius: $rounded;
    h1, h2, h3, h4, h5, h6 {
        margin: .8rem 0;
    }
    blockquote {
        border-left: .45rem solid $bg-primary;
        margin: .8rem 0;
        padding-left: 1rem;
    }
    p, ul, ol {
        padding: .4rem 0;
    }
    li {
        margin-left: 1.5rem;
    }

    code {
        padding: .2rem .5rem;
        background-color: $bg-base-200;
        font-family: $font-family-mono;
        font-size: .86rem;
        font-weight: bold;
        border-radius: $rounded;
    }
}

.highlight {
    background-color: $bg-base-200;
    padding: .4rem .9rem;
    margin: .4rem 0;
    border-radius: $rounded;
    overflow: hidden;
    overflow-x: auto;
    code {
        padding: 0;
    }
    code, pre, span, table {
        font-family: $font-family-mono;
        font-size: .86rem;
        font-weight: bold;
    }
    pre code >span {
        margin-right: .9rem;
    }
    table {
        width: auto;
    }
    .lntd:first-child {
        user-select: none;
    }
    .chroma {
        border-radius: $rounded;
        .lntd {
            vertical-align: top;
            padding: 0;
            margin: 0;
            border: 0;
        }
        .lntable {
            border-spacing: 0;
            padding: 0;
            margin: 0;
            border: 0;
        }
    }
}

.pages-list {
    list-style: none;
    padding: 1rem;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    li a {
        display: block;
        padding: 1rem;
        background-color: var(--bg-base-100);
        border-radius: $rounded;
    }
    li a:hover {
        transition-duration: 350ms;
        background-color: $bg-base-300;
    }
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 1.4rem;
    margin: .5rem 0;
}

.grid-container.center {
    justify-items: center;
    .element {
        text-align: center;
    }
}

.collapse-container {
    background-color: $bg-base-200;
    border-radius: $rounded;
    padding: .8rem;
    summary {
        user-select: none;
        cursor: pointer;
    }
    .element{
        margin-top: .5rem;
        padding: .2rem .4rem;
        background-color: $bg-base-200;
        border-radius: $rounded;
    }
}

.content-type--default {
    max-width: 1200px;
    margin: auto;
    section {
        background-color: $bg-base-200;
        padding: 1rem;
        margin: 1rem 0;
        border-radius: $rounded;
        h1, h2, h3, h4, h5, h6 {
            margin: .5rem 0;
        }
        >h1 {
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}

.content-type--docs {
    display: flex;
    gap: 1.5rem;
    max-width: 1500px;
    margin: auto;
    >article {
        background-color: $bg-base-200;
        padding: 1rem;
        border-radius: $rounded;
    }

    >article {
        flex: 1;
        min-width: 0;
        >h1 {
            margin-bottom: 2rem;
        }
    }
}

.sidebar {
    background-color: $bg-base-200;
    padding: 1rem;
    border-radius: $rounded;
    position: sticky;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    overflow-y: auto;
    width: 18rem;

    .level-0 {
        display: flex;
        font-size: 1.2rem;
    }
    .toc {
        list-style: none;
    }
    >.toc {
        background-color: $bg-base-100;
        padding: 1rem;
        border-radius: $rounded;
        .toc {
            li {
                margin-left: 1rem;
            }
        }
    }
    .toc, li {
        display: flex;
        flex-direction: column;
        gap: .2rem;
        .btn {
            padding: .4rem .6rem;
            font-size: .9rem;
        }
    }
}

#__drawer,
#__drawer-label {
  display: none;
}

@media print {
    .content-type--docs .sidebar {
        display: none;
    }
}

@media screen and (max-width: 1100px) {
    #__drawer-label {
      display: inline-flex;
    }

    .sidebar {
      position: fixed;
      display: none;
    }

    #__drawer:checked ~ #content .sidebar {
      display: initial;
    }

    #__drawer:checked ~ header #__drawer-label {
      top: 0;
      position: fixed;
      width: 100%;
      height: 100%;
      backdrop-filter: blur(0.2rem);
      background-color: #0000005c;
    }
}

@media screen and (max-width: 900px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }
}

@media screen and (max-width: 800px) {
    .sidebar {
      width: 60vw;
    }
}
