@mixin theme_light {
    color-scheme: light;
    --bg-base-100: var(--bg-base-100--light);
    --bg-base-200: var(--bg-base-200--light);
    --fg-base-100: var(--fg-base-100--light);
    --fg-base-200: var(--fg-base-200--light);
    --bg-shadow: var(--bg-shadow--light);
}

@mixin theme_dark {
    color-scheme: dark;
    --bg-base-100: var(--bg-base-100--dark);
    --bg-base-200: var(--bg-base-200--dark);
    --fg-base-100: var(--fg-base-100--dark);
    --fg-base-200: var(--fg-base-200--dark);
    --bg-shadow: var(--bg-shadow--dark);
}

:root {
    --bg-base-100--light: #{$bg-base-100--light};
    --bg-base-200--light: #{$bg-base-200--light};
    --bg-base-100--dark: #{$bg-base-100--dark};
    --bg-base-200--dark: #{$bg-base-200--dark};
    --fg-base-100--light: #{$fg-base-100--light};
    --fg-base-200--light: #{$fg-base-200--light};
    --fg-base-100--dark: #{$fg-base-100--dark};
    --fg-base-200--dark: #{$fg-base-200--dark};
    --bg-shadow--light: #{$bg-shadow--light};
    --bg-shadow--dark: #{$bg-shadow--dark};

    @include theme_light;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include theme_dark;
    }
}

[data-theme=light]:root {
    @include theme_light;
}

[data-theme=dark]:root {
    @include theme_dark;
}
