$font-family-main: 'Noto Sans', sans-serif;

$bg-base-100: var(--bg-base-100);
$bg-base-200: var(--bg-base-200);

$fg-base-100: var(--fg-base-100);
$fg-base-200: var(--fg-base-200);

$rounded: 6px;

$box-shadow: 0 1px 3px var(--bg-shadow);
